<form (ngSubmit)="submit()" [formGroup]="momentoform" #formDir="ngForm">
  <div class="form-group">
    <label for="title">Titulo:</label>
    <input 
    type="text" 
    placeholder="Coloque um titulo" 
    formControlName="title" 
    required
    />
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">O titulo é obrigatorio</p>
    </div>
  </div>
  <div class="form-group">
    <label for="tidescripition">Descrição:</label>
    <textarea placeholder="Melhores momentos" formControlName="descripition" required></textarea>
    <div *ngIf="descripition.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="descripition.errors?.['required']">A descrição é obrigatoria</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Foto marcante:</label>
    <input type="file">
  </div>
  <input type="submit" value="{{ btnText }}">
</form>
