                            /* style Global */
* {
  margin: 0;
  padding: 0;           /* todos os elementos ira receber esta formatação */
  font-family: Helvetica;
}

a {
  color: blue;
}

body {
  padding-bottom: 500px;
}

.class {
  border-bottom: 1px solid red;
  padding: 2em;
  margin-bottom: 1em;
}
